all_subgits
bashics
bb-dev-launch
bbproxy-setup
bcs-foo
bcs-test
cdpp
docktools
.env
.env-tmp
environment.mk
gh-help
gitsmart
localhist
looper
prompt-command-wrap
*proxy-env
ps1-foo
*shellkit
.shellkit-environment.mk
shellkit-meta
shellkit-pm
taskrc-kit
vscode-tools
complete-alias
debaid
pubtest
oneline
makeup
teach-kit
vimsane
shellkit.intro
jumpstart.bashrc
.git-map.mk.d
